body {
    background: #dbdbdb;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pwd {
    background: #111625;
    border-radius: 12px;
    box-shadow: rgba(100, 100, 111, .5) 0px 7px 29px 0px;
    position: relative;
}

.pwd input {
    background: transparent;
    border: none;
    font-size: 1.2em;
    color: #5358b9;
}

.pwd input:focus {
    outline: none;
}

.pwd i {
    font-size: 1.4em;
    padding: 1em;
    color: #dbdbdb;
}

.pwd .bi-eye,
.pwd .bi-eye-slash {
    cursor: pointer;
    color: #5358b9;
    width: 1.2em;
}